@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <a class="nav-link text-dark" asp-area="" asp-page="/lab5"><u>Goes to lab5</u></a>
<link rel="stylesheet" href="~/css/Lab4.css" asp-append-version="true" />
  <div id="myCarousel" class="carousel slide mb-6 py-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://www.toowoombabmw.com.au/images/news/2020/aug/bmw-header-1.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1></h1>
            <p class="opacity-75">Join us to choose the BMW that suits you.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://cdn.motor1.com/images/mgl/QErpZ/s3/2020-bmw-x6-m-competition.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Have you ever seen such a powerful jeep before?</h1>
            <p>BMW XM, which combines luxury and high performance</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://drive-my.com/wp-content/uploads/2015/08/images_mews2015_drive2015_2015drive_BMW-M3-E46-E92-M4-F82-2.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Would you like to have a unique driving experience?</h1>
            <p>These cars, with every detail carefully designed, are a dream come true for driving enthusiasts.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://i0.shbdn.com/photos/07/08/42/x5_11500708425cl.jpg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">E60-M5</h2>
        <p>The last atmospheric M5, which emerged when BMW experts put the V10 engine used in the formula cars of that period into a sedan vehicle.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://i0.wp.com/otomobilkolik.com/wp-content/uploads/2021/02/P90411246_highRes_the-new-bmw-m5-cs-sc.jpg?fit=960%2C640&ssl=1" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">M5-CS</h2>
        <p>The new M5, produced with the latest technology, is BMW's current fastest sedan and the apple of collectors' eye, with only 400 units produced.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://cdn.motor1.com/images/mgl/pkorV/s1/2003-bmw-m3-csl.jpg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">E46 M3-CSL</h2>
        <p>The M3 version, specially designed for racing, is considered one of the most special vehicles ever produced by the M department and is a favorite of collectors.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Establishment and development of BMW M department. <span class="text-body-secondary">let's see it together.</span></h2>
        <p class="lead">It is a subsidiary of BMW that produces high-performance vehicles and vehicle parts. The company was founded in May 1972[1], initially for BMW's racing program, but eventually began developing high-performance models of BMW vehicles. The company's headquarters is located in Munich.

BMW M vehicles are traditionally distinguished by modified engines, transmissions, suspensions, interior doors, aerodynamics and exterior modifications. All M models are tested and tuned at BMW's dedicated facility at the Nürburgring race track in Germany. BMW M is the only performance company that also modifies motorcycles.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://cdn.motor1.com/images/mgl/Pr6jG/s1/bmw-min-urettigi-gelmis-gecmis-en-iyi-10-otomobil.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Symbol of Passion and Drift Among Young People. <span class="text-body-secondary">It proved this to be true with a record in recent years.</span></h2>
        <p class="lead">One of the biggest factors why young people choose BMW is the sporty design and high performance offered by the brand. Especially performance-oriented models such as the M series have become the favorite of young drivers and attract the attention of professionals. The M series, integrated with drift, also broke the world record by drifting 374 km for 8 hours by refueling in the air.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.actualidadmotor.com/wp-content/uploads/2018/01/BMW-Record-Guinness-Drift-1.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">BMW i8: Groundbreaking Success in the Electric Sports Car. <span class="text-body-secondary">Environmentally Friendly Performance with Low Fuel Consumption</span></h2>
        <p class="lead">BMW i8, BMW's first plug-in hybrid model, which went on sale in 2014, went down in company history as the world's most successful electric sports car. These two driving systems enable the BMW i8 to achieve 2.1 lt fuel consumption per 100 km and 49 g/km CO2. It accelerates from 0 to 100 km/h in 4.4 seconds with its low emissions.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.topgear.com/sites/default/files/cars-car/image/2018/04/p90285382_highres_the-new-bmw-i8-roads.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
</main>
