@page
@model WebApp1.Pages.CreateReservationModel
@{
    ViewData["Title"] = "Create Reservation";
}



<link rel="stylesheet" href="../css/createReservationForm.css">


<div class="form-body" >
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Create Reservation</h3>
                    <p>(Reserver name and ID set automatically)</p>
                    <form class="requires-validation" method="post" novalidate>

                        <div class="col-md-12">
                            <label for="reserverName">Reserver Name</label>
                            <input class="form-control" type="text-black" name="Reservation.ReserverName"
                                value="@User.Identity.Name" readonly required>
                        </div>
                        <br />

                        <div class="col-md-12">
                            <label for="reservationDate">Reservation Date</label>
                            <input type="date" id="reservationDate" name="Reservation.Date" class="form-control" />
                            <div class="valid-feedback">Date field is valid!</div>
                            <div class="invalid-feedback">Date field cannot be blank!</div>
                        </div>
                        <br />

                        <div class="col-md-12">
                            <label for="reservationTime">Reservation Time</label>
                            <input type="time" id="reservationTime" asp-for="Reservation.Time" class="form-control" />
                            <div class="valid-feedback">Time field is valid!</div>
                            <div class="invalid-feedback">Time field cannot be blank!</div>
                        </div>
                        <br />

                        <div class="col-md-12">
                            <label for="roomListDropdown">Room List</label>
                            <select class="form-select mt-1" id="roomListDropdown" name="roomId" required>
                                <option selected disabled>Rooms</option>
                                @foreach (var room in Model.Rooms)
                                {
                                    <option value="@room.Id">@room.RoomName</option>
                                }
                            </select>
                            <div class="valid-feedback">You selected a room!</div>
                            <div class="invalid-feedback">Please select a room from list!</div>
                        </div>
                        <br />

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Make Reservation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/createReservationForm.js"></script>